@font-face {
  font-family: 'rubikbold';
  src: url('./fonts/rubik-bold-webfont.eot');
  src: url('./fonts/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/rubik-bold-webfont.woff2') format('woff2'),
    url('./fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubikmedium';
  src: url('./fonts/rubik-medium-webfont.eot');
  src: url('./fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/rubik-medium-webfont.woff2') format('woff2'),
    url('./fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubikregular';
  src: url('./fonts/rubik-regular-webfont.eot');
  src: url('./fonts/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('./fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubiklight';
  src: url('./fonts/rubik-light-webfont.eot');
  src: url('./fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/rubik-light-webfont.woff2') format('woff2'),
    url('./fonts/rubik-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}